<a href="/items/{{this.id}}" class="product">
    <div class="image" style="background-image: url({{this.picture}});"></div>
    <div class="text">
        <p class="price">$ {{formatCurrency this.price.amount}}<span class="decimals">{{putDecimals this.price.decimals}}</span> <img src="img/shipping.png" alt=""></p>
        <p class="name">{{this.title}}</p>
        <p class="city">Capital Federal</p> 
    </div>
</a>